@font-face {
  font-family: 'SF Pro';
  font-weight: normal;
  src:
    url('fonts/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype'),
    url('fonts/SFProDisplay-Medium.ttf') format('truetype'),
    url('fonts/SFProDisplay-Bold.ttf') format('truetype');
}
