@import './styles/about.scss';

html, body {
  scroll-behavior: smooth;
}

#root {
  position: relative;
  background-color: #fbfbfd;
}

.section {
  height: 100vh;
  margin: 80px 20px 0 20px;
  transition: all 1;

  &__about {
    color: #1d1d1f;;
  }
}

// .MuiToolbar-root {
//   background-image: linear-gradient(to right, #553c9a, #b393d3);
//   background-color: #fff;
//   color: transparent;
//   height: 40px;
//   opacity: 0.9;
// }
